In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ObesityDataSet.csv')

In [3]:
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [4]:
df.tail()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [5]:
# we have to check the shape of the data
# we have to check the null values in data
# we have to handle the null values
# we have to check for the data types
# If any 'object' dtype found... then we have to transform the data

In [6]:
# we have to check the shape of the data
df.shape

(2111, 17)

In [7]:
# we have to check the null values in data
df.isnull()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2107,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2108,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2109,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2110,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
df.isnull().any()

Gender                            False
Age                               False
Height                            False
Weight                            False
family_history_with_overweight    False
FAVC                              False
FCVC                              False
NCP                               False
CAEC                              False
SMOKE                             False
CH2O                              False
SCC                               False
FAF                               False
TUE                               False
CALC                              False
MTRANS                            False
NObeyesdad                        False
dtype: bool

In [9]:
df.isnull().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [10]:
# we have to check for the data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [11]:
# Encoding
df['Gender'].value_counts()

Male      1068
Female    1043
Name: Gender, dtype: int64

In [12]:
df['Gender'] = df['Gender'].replace({'Male':0,'Female':1})

In [13]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [14]:
df['family_history_with_overweight'].value_counts()

yes    1726
no      385
Name: family_history_with_overweight, dtype: int64

In [15]:
df['family_history_with_overweight'] = df['family_history_with_overweight'].replace({'yes':0,'No':1})

In [16]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21.0,1.52,56.0,0,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [17]:
df['FAVC'].value_counts()

yes    1866
no      245
Name: FAVC, dtype: int64

In [18]:
df['FAVC'] = df['FAVC'].replace({'yes':0,'no':1})

In [19]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21.0,1.52,56.0,0,1,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [20]:
df['CAEC'].value_counts()

Sometimes     1765
Frequently     242
Always          53
no              51
Name: CAEC, dtype: int64

In [21]:
df['CAEC'] = df['CAEC'].replace({'Sometimes':0,'Frequently':1,'Always':2,'no':3})

In [22]:
df.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,0,23.0,1.80,77.0,0,1,2.0,3.0,0,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,0,27.0,1.80,87.0,no,1,3.0,3.0,0,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,0,22.0,1.78,89.8,no,1,2.0,1.0,0,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [23]:
df['SMOKE'].value_counts()

no     2067
yes      44
Name: SMOKE, dtype: int64

In [24]:
df['SMOKE'] = df['SMOKE'].replace({'no':0,'yes':1})

In [25]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,0,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,1,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [26]:
df['SCC'].value_counts()

no     2015
yes      96
Name: SCC, dtype: int64

In [27]:
df['SCC'] = df['SCC'].replace({'no':0,'yes':1})

In [28]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,0,2.0,0,0.0,1.0,no,Public_Transportation,Normal_Weight
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,1,3.0,1,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight

In [29]:
df['CALC'].value_counts()

Sometimes     1401
no             639
Frequently      70
Always           1
Name: CALC, dtype: int64

In [30]:
df['CALC'] = df['CALC'].replace({'Sometimes':0,'no':1,'Frequently':2,'Always':3})

In [31]:
df.tail(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
2109,1,24.361936,1.739450,133.346641,0,0,3.0,3.0,0,0,2.852339,0,1.139107,0.586035,0,Public_Transportation,Obesity_Type_III
2110,1,23.664709,1.738836,133.472641,0,0,3.0,3.0,0,0,2.863513,0,1.026452,0.714137,0,Public_Transportation,Obesity_Type_III

In [32]:
df['MTRANS'].value_counts()

Public_Transportation    1580
Automobile                457
Walking                    56
Motorbike                  11
Bike                        7
Name: MTRANS, dtype: int64

In [33]:
ntrans = {'Public_Transportation':0,
          'Automobile':1,
          'Walking':2,
          'Motorbike':3,
          'Bike':4}

In [34]:
ntrans

{'Public_Transportation': 0,
 'Automobile': 1,
 'Walking': 2,
 'Motorbike': 3,
 'Bike': 4}

In [35]:
df['MTRANS'] = df['MTRANS'].replace(ntrans)

In [36]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,0,2.0,0,0.0,1.0,1,0,Normal_Weight
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,1,3.0,1,3.0,0.0,0,0,Normal_Weight

In [37]:
df['NObeyesdad'].value_counts()

Obesity_Type_I         351
Obesity_Type_III       324
Obesity_Type_II        297
Overweight_Level_I     290
Overweight_Level_II    290
Normal_Weight          287
Insufficient_Weight    272
Name: NObeyesdad, dtype: int64

In [38]:
target = {'Obesity_Type_I':0,
          'Obesity_Type_II':1,
          'Obesity_Type_III':2,
          'Overweight_Level_I':3,
          'Overweight_Level_II':4,
          'Normal_Weight':5,
          'Insufficient_Weight':6}


target

{'Obesity_Type_I': 0,
 'Obesity_Type_II': 1,
 'Obesity_Type_III': 2,
 'Overweight_Level_I': 3,
 'Overweight_Level_II': 4,
 'Normal_Weight': 5,
 'Insufficient_Weight': 6}

In [39]:
df['NObeyesdad'].replace(target)

0       5
1       5
2       5
3       3
4       4
       ..
2106    2
2107    2
2108    2
2109    2
2110    2
Name: NObeyesdad, Length: 2111, dtype: int64

In [40]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,0,2.0,0,0.0,1.0,1,0,Normal_Weight
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,1,3.0,1,3.0,0.0,0,0,Normal_Weight

In [41]:
df['NObeyesdad'] = df['NObeyesdad'].replace(target)

In [42]:
df.head(2)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,0,2.0,0,0.0,1.0,1,0,5
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,1,3.0,1,3.0,0.0,0,0,5

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   int64
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   int64
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   int64
 9   SMOKE                           2111 non-null   int64
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   int64
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   int64
 15  MTRANS                          2111 non-null   int64
 16  NObeyesdad                      2111 non-null   int64
dtypes: float64(8), int64(8), object(1)
memory usage: 280.5+ KB

In [44]:
df['family_history_with_overweight'].value_counts()

0     1726
no     385
Name: family_history_with_overweight, dtype: int64

In [45]:
df['family_history_with_overweight'] = df['family_history_with_overweight'].replace({'0':0,'no':1})

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   int64
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   int64
 5   FAVC                            2111 non-null   int64
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   int64
 9   SMOKE                           2111 non-null   int64
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   int64
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   int64
 15  MTRANS                          2111 non-null   int64
 16  NObeyesdad                      2111 non-null   int64
dtypes: float64(8), int64(9)
memory usage: 280.5 KB

In [47]:
df.head(3)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,1,21.0,1.62,64.0,0,1,2.0,3.0,0,0,2.0,0,0.0,1.0,1,0,5
1,1,21.0,1.52,56.0,0,1,3.0,3.0,0,1,3.0,1,3.0,0.0,0,0,5
2,0,23.0,1.80,77.0,0,1,2.0,3.0,0,0,2.0,0,2.0,1.0,2,0,5

In [48]:
# Split independent and dependent columns
# Split training and testing data

In [49]:
x = df.drop('NObeyesdad',axis=1)
y = df['NObeyesdad']

In [50]:
x

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS
0,1,21.000000,1.620000,64.000000,0,1,2.0,3.0,0,0,2.000000,0,0.000000,1.000000,1,0
1,1,21.000000,1.520000,56.000000,0,1,3.0,3.0,0,1,3.000000,1,3.000000,0.000000,0,0
2,0,23.000000,1.800000,77.000000,0,1,2.0,3.0,0,0,2.000000,0,2.000000,1.000000,2,0
3,0,27.000000,1.800000,87.000000,1,1,3.0,3.0,0,0,2.000000,0,2.000000,0.000000,2,2
4,0,22.000000,1.780000,89.800000,1,1,2.0,1.0,0,0,2.000000,0,0.000000,0.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,1,20.976842,1.710730,131.408528,0,0,3.0,3.0,0,0,1.728139,0,1.676269,0.906247,0,0
2107,1,21.982942,1.748584,133.742943,0,0,3.0,3.0,0,0,2.005130,0,1.341390,0.599270,0,0
2108,1,22.524036,1.752206,133.689352,0,0,3.0,3.0,0,0,2.054193,0,1.414209,0.646288,0,0
2109,1,24.361936,1.739450,133.346641,0,0,3.0,3.0,0,0,2.852339,0,1.139107,0.586035,0,0
2110,1,23.664709,1.738836,133.472641,0,0,3.0,3.0,0,0,2.863513,0,1.026452,0.714137,0,0

In [51]:
y

0       5
1       5
2       5
3       3
4       4
       ..
2106    2
2107    2
2108    2
2109    2
2110    2
Name: NObeyesdad, Length: 2111, dtype: int64

In [52]:
from sklearn.model_selection import train_test_split

C:\Users\indra\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [53]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.3,random_state=12)

In [54]:
print('Shape of xtrain is {}'.format(xtrain.shape))
print('Shape of xtest is {}'.format(xtest.shape))
print('Shape of ytrain is {}'.format(ytrain.shape))
print('Shape of ytest is {}'.format(ytest.shape))

Shape of xtrain is (1477, 16)
Shape of xtest is (634, 16)
Shape of ytrain is (1477,)
Shape of ytest is (634,)

In [55]:
# build the model --- Tensorflow

In [7]:
pip search tensorflow

Note: you may need to restart the kernel to use updated packages.

ERROR: XMLRPC request failed [code: -32500]
RuntimeError: PyPI no longer supports 'pip search' (or XML-RPC search). Please use https://pypi.org/search (via a browser) instead. See https://warehouse.pypa.io/api-reference/xml-rpc.html#deprecated-methods for more information.

In [6]:
!pip install tensorflow==2.15.0

ERROR: Could not find a version that satisfies the requirement tensorflow==2.15.0 (from versions: 2.16.0rc0, 2.16.1)
ERROR: No matching distribution found for tensorflow==2.15.0

In [2]:
import tensorflow as tf

C:\Users\indra\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

WARNING:tensorflow:From C:\Users\indra\anaconda3\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [3]:
print(tf.__version__)

2.15.0

In [1]:
!pip install tensorflow_decision_forests

Collecting tensorflow_decision_forests
  Using cached tensorflow_decision_forests-1.8.1.tar.gz (15.2 MB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\python\lib\site-packages (from tensorflow_decision_forests) (1.26.2)
Collecting pandas (from tensorflow_decision_forests)
  Using cached pandas-2.2.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
INFO: pip is looking at multiple versions of tensorflow-decision-forests to determine which version is compatible with other requirements. This could take a while.

ERROR: Could not find a version that satisfies the requirement tensorflow~=2.15.0 (from tensorflow-decision-forests) (from versions: 2.16.0rc0, 2.16.1)
ERROR: No matching distribution found for tensorflow~=2.15.0

In [85]:
print(tf.__version__)

2.15.0

In [8]:
!pip install tensorflow_decision_forest

ERROR: Could not find a version that satisfies the requirement tensorflow_decision_forest (from versions: none)
ERROR: No matching distribution found for tensorflow_decision_forest

In [7]:
import tensorflow as tf
import tensorflow_decision_forests as tfdf

WARNING:root:Failure to load the inference.so custom c++ tensorflow ops. This error is likely caused the version of TensorFlow and TensorFlow Decision Forests are not compatible. Full error:C:\Users\indra\anaconda3\lib\site-packages\tensorflow_decision_forests\tensorflow\ops\inference\inference.so not found

NotFoundError: C:\Users\indra\anaconda3\lib\site-packages\tensorflow_decision_forests\tensorflow\ops\inference\inference.so not found

# Convert pandas dataframe into tensors

In [ ]:
train_data = tf.data.Dataset.from_tensor_slices((dict(xtrain),ytrain)).batch(12)

In [ ]:
train_data

<_BatchDataset element_spec=({'Gender': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Age': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'Height': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'Weight': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'family_history_with_overweight': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'FAVC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'FCVC': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'NCP': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'CAEC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'SMOKE': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'CH2O': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'SCC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'FAF': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'TUE': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'CALC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'MTRANS': TensorSpec(shape=(None,), dtype=tf.int64, name=None)}, TensorSpec(shape=(None,), dtype=tf.int64, name=None))>

In [ ]:
test_data = tf.data.Dataset.from_tensor_slices((dict(xtest),ytest)).batch(12)

In [ ]:
test_data

<_BatchDataset element_spec=({'Gender': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Age': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'Height': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'Weight': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'family_history_with_overweight': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'FAVC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'FCVC': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'NCP': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'CAEC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'SMOKE': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'CH2O': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'SCC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'FAF': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'TUE': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'CALC': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'MTRANS': TensorSpec(shape=(None,), dtype=tf.int64, name=None)}, TensorSpec(shape=(None,), dtype=tf.int64, name=None))>

# Random Forest using TFDF

In [ ]:
rf_model = tfdf.keras.RandomForestModel(task = tfdf.keras.Task.CLASSIFICATION)

Use /tmp/tmp28kdk2b0 as temporary training directory

In [ ]:
rf_model.fit(train_data)

Reading training dataset...
Training dataset read in 0:00:06.283005. Found 1477 examples.
Training model...
Model trained in 0:00:02.050869
Compiling model...
Model compiled.

In [ ]:
rf_pred = rf_model.predict(test_data)

53/53 [==============================] - 0s 3ms/step

In [ ]:
rf_pred

array([[0.        , 0.        , 0.        , ..., 0.        , 0.02666667,
        0.9399992 ],
       [0.01333333, 0.        , 0.        , ..., 0.02333334, 0.82333267,
        0.11666662],
       [0.        , 0.07666666, 0.91999924, ..., 0.        , 0.00333333,
        0.        ],
       ...,
       [0.08666665, 0.9133326 , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.49333295, 0.11333329, 0.        , ..., 0.37333307, 0.00333333,
        0.        ],
       [0.02      , 0.9799992 , 0.        , ..., 0.        , 0.        ,
        0.        ]], dtype=float32)

In [ ]:
import numpy as np

In [ ]:
rf_pred_output = [np.argmax(i) for i in rf_pred]

In [ ]:
rf_pred_output

[6,
 5,
 2,
 3,
 0,
 0,
 6,
 5,
 3,
 1,
 0,
 4,
 6,
 2,
 1,
 3,
 5,
 2,
 1,
 5,
 1,
 6,
 0,
 5,
 2,
 2,
 2,
 0,
 6,
 5,
 2,
 3,
 1,
 2,
 5,
 1,
 1,
 3,
 1,
 4,
 3,
 4,
 6,
 1,
 3,
 6,
 4,
 0,
 2,
 2,
 4,
 6,
 3,
 5,
 0,
 4,
 4,
 3,
 3,
 3,
 5,
 0,
 3,
 5,
 6,
 5,
 2,
 0,
 5,
 1,
 2,
 5,
 2,
 0,
 1,
 4,
 4,
 0,
 6,
 5,
 6,
 3,
 2,
 6,
 1,
 0,
 0,
 1,
 3,
 3,
 6,
 5,
 1,
 2,
 4,
 0,
 3,
 3,
 5,
 4,
 1,
 2,
 3,
 1,
 5,
 6,
 4,
 0,
 5,
 3,
 1,
 6,
 2,
 5,
 0,
 3,
 5,
 6,
 4,
 6,
 2,
 5,
 1,
 3,
 6,
 4,
 3,
 6,
 3,
 4,
 3,
 0,
 6,
 5,
 5,
 5,
 5,
 4,
 0,
 5,
 1,
 5,
 5,
 6,
 0,
 5,
 2,
 4,
 3,
 0,
 4,
 6,
 1,
 6,
 3,
 0,
 3,
 3,
 0,
 2,
 5,
 0,
 2,
 2,
 0,
 4,
 1,
 4,
 5,
 1,
 0,
 2,
 3,
 4,
 6,
 5,
 0,
 2,
 1,
 1,
 1,
 0,
 4,
 2,
 5,
 4,
 0,
 4,
 1,
 2,
 5,
 0,
 6,
 0,
 4,
 2,
 1,
 3,
 4,
 2,
 0,
 6,
 6,
 6,
 2,
 2,
 4,
 6,
 5,
 4,
 3,
 2,
 5,
 5,
 1,
 1,
 4,
 0,
 0,
 5,
 4,
 1,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 3,
 4,
 2,
 2,
 6,
 1,
 1,
 6,
 4,
 5,
 5,
 1,
 0,
 3,
 1,
 2,
 2,
 3,
 2,
 6,
 2,
 0,
 2,
 1,
 0,
 5,
 4,
 3,
 0,
 0,
 1,
 0,
 2,
 0,
 6,
 3,
 6,
 2,
 5,
 3,
 0,
 0,
 0,
 1,
 2,
 3,
 3,
 1,
 1,
 6,
 3,
 0,
 0,
 3,
 6,
 6,
 3,
 4,
 3,
 3,
 4,
 1,
 5,
 1,
 5,
 5,
 0,
 5,
 2,
 3,
 4,
 2,
 2,
 3,
 1,
 0,
 2,
 1,
 4,
 0,
 5,
 3,
 1,
 6,
 4,
 5,
 0,
 5,
 4,
 2,
 1,
 0,
 0,
 3,
 4,
 2,
 1,
 5,
 2,
 4,
 5,
 6,
 4,
 0,
 0,
 5,
 2,
 4,
 0,
 0,
 5,
 3,
 6,
 3,
 2,
 6,
 3,
 0,
 2,
 2,
 0,
 6,
 6,
 3,
 4,
 5,
 3,
 0,
 5,
 6,
 6,
 1,
 2,
 1,
 3,
 2,
 5,
 4,
 4,
 2,
 5,
 4,
 0,
 3,
 1,
 4,
 6,
 3,
 1,
 4,
 1,
 6,
 5,
 2,
 6,
 0,
 2,
 3,
 1,
 4,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 2,
 3,
 6,
 0,
 0,
 4,
 4,
 5,
 6,
 3,
 6,
 2,
 1,
 4,
 1,
 2,
 1,
 4,
 5,
 4,
 5,
 4,
 4,
 2,
 1,
 0,
 6,
 6,
 1,
 5,
 2,
 5,
 2,
 2,
 3,
 4,
 5,
 6,
 1,
 6,
 4,
 1,
 2,
 2,
 3,
 3,
 4,
 0,
 2,
 1,
 3,
 3,
 0,
 5,
 3,
 1,
 3,
 4,
 5,
 2,
 3,
 1,
 6,
 6,
 4,
 3,
 6,
 4,
 1,
 5,
 3,
 4,
 1,
 3,
 4,
 0,
 6,
 5,
 1,
 5,
 1,
 2,
 3,
 2,
 0,
 4,
 1,
 4,
 1,
 0,
 0,
 3,
 0,
 6,
 4,
 4,
 2,
 6,
 2,
 3,
 1,
 0,
 3,
 1,
 2,
 4,
 4,
 3,
 1,
 0,
 3,
 4,
 6,
 0,
 1,
 2,
 6,
 1,
 0,
 0,
 0,
 1,
 6,
 1,
 2,
 5,
 5,
 2,
 3,
 5,
 6,
 2,
 6,
 0,
 2,
 1,
 0,
 1,
 2,
 6,
 0,
 0,
 0,
 2,
 1,
 0,
 2,
 2,
 3,
 4,
 3,
 2,
 3,
 4,
 0,
 2,
 1,
 5,
 6,
 5,
 1,
 6,
 6,
 1,
 3,
 3,
 0,
 5,
 2,
 1,
 1,
 5,
 6,
 1,
 2,
 6,
 0,
 0,
 4,
 6,
 0,
 1,
 5,
 0,
 2,
 0,
 0,
 0,
 5,
 5,
 4,
 4,
 6,
 6,
 6,
 6,
 4,
 2,
 5,
 1,
 3,
 2,
 6,
 5,
 1,
 1,
 0,
 3,
 0,
 5,
 2,
 1,
 0,
 5,
 1,
 0,
 3,
 4,
 0,
 5,
 3,
 4,
 1,
 4,
 2,
 2,
 0,
 4,
 6,
 4,
 5,
 5,
 4,
 0,
 3,
 1,
 0,
 1]

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(ytest,rf_pred_output)

0.9558359621451105

In [ ]:
accuracy_score(ytest,rf_pred_output)*100

95.58359621451105

# Gradient boosting

In [ ]:
gb_model = tfdf.keras.GradientBoostedTreesModel(task=tfdf.keras.Task.CLASSIFICATION)

Use /tmp/tmpjlxnyymq as temporary training directory

In [ ]:
gb_model.fit(train_data)

Reading training dataset...
Training dataset read in 0:00:00.740502. Found 1477 examples.
Training model...
Model trained in 0:00:02.846988
Compiling model...
Model compiled.

In [ ]:
gb_pred = gb_model.predict(test_data)

53/53 [==============================] - 0s 4ms/step

In [ ]:
gb_pred

array([[2.1913748e-04, 2.1857821e-04, 2.1939802e-04, ..., 7.9044665e-04,
        2.5118119e-03, 9.9478656e-01],
       [1.1011792e-03, 9.7901886e-04, 6.8009150e-04, ..., 2.5986962e-03,
        9.9038601e-01, 2.1657695e-03],
       [5.8395817e-04, 1.3353108e-04, 9.9837953e-01, ..., 3.6940482e-04,
        1.4284365e-04, 7.9930389e-05],
       ...,
       [4.0282230e-03, 9.9343067e-01, 2.0784509e-04, ..., 8.1981480e-04,
        4.0679623e-04, 2.0547702e-04],
       [4.9123478e-01, 9.4246548e-03, 2.1308181e-03, ..., 4.8573470e-01,
        3.8622317e-03, 2.2279448e-03],
       [1.0774782e-03, 9.9715948e-01, 1.5261791e-04, ..., 6.5056124e-04,
        3.0093553e-04, 1.5248537e-04]], dtype=float32)

In [ ]:
gb_pred_output = [np.argmax(i) for i in gb_pred]

In [ ]:
gb_pred_output

[6,
 5,
 2,
 3,
 0,
 0,
 6,
 5,
 3,
 1,
 0,
 4,
 6,
 2,
 1,
 3,
 5,
 2,
 1,
 5,
 1,
 6,
 0,
 5,
 2,
 2,
 2,
 0,
 6,
 5,
 2,
 3,
 1,
 2,
 5,
 1,
 1,
 3,
 1,
 4,
 3,
 4,
 6,
 1,
 3,
 6,
 4,
 0,
 2,
 2,
 4,
 6,
 3,
 5,
 0,
 4,
 4,
 3,
 3,
 3,
 5,
 0,
 3,
 5,
 6,
 5,
 2,
 0,
 5,
 1,
 2,
 6,
 2,
 0,
 1,
 4,
 4,
 0,
 6,
 5,
 6,
 3,
 2,
 6,
 1,
 0,
 0,
 1,
 3,
 3,
 6,
 5,
 1,
 2,
 4,
 0,
 4,
 3,
 5,
 4,
 1,
 2,
 3,
 1,
 5,
 6,
 4,
 0,
 5,
 3,
 1,
 6,
 2,
 5,
 0,
 3,
 3,
 6,
 4,
 6,
 2,
 5,
 1,
 3,
 6,
 4,
 3,
 6,
 5,
 4,
 3,
 0,
 6,
 5,
 5,
 5,
 5,
 4,
 0,
 6,
 1,
 5,
 5,
 6,
 0,
 5,
 2,
 4,
 3,
 0,
 4,
 6,
 1,
 6,
 3,
 0,
 3,
 3,
 0,
 2,
 4,
 0,
 2,
 2,
 0,
 4,
 1,
 4,
 5,
 1,
 0,
 2,
 3,
 4,
 6,
 5,
 0,
 2,
 1,
 1,
 1,
 0,
 4,
 2,
 5,
 4,
 0,
 4,
 1,
 2,
 3,
 0,
 6,
 0,
 4,
 2,
 1,
 3,
 4,
 2,
 0,
 6,
 6,
 6,
 2,
 2,
 4,
 6,
 5,
 3,
 3,
 2,
 5,
 5,
 1,
 1,
 4,
 0,
 0,
 5,
 4,
 1,
 0,
 3,
 3,
 0,
 0,
 0,
 0,
 3,
 4,
 2,
 2,
 6,
 1,
 1,
 6,
 4,
 5,
 5,
 1,
 0,
 3,
 1,
 2,
 2,
 3,
 2,
 6,
 2,
 0,
 2,
 1,
 0,
 3,
 4,
 3,
 0,
 0,
 1,
 0,
 2,
 0,
 6,
 3,
 6,
 2,
 5,
 3,
 0,
 0,
 0,
 1,
 2,
 3,
 3,
 1,
 1,
 6,
 3,
 0,
 0,
 3,
 6,
 6,
 3,
 4,
 3,
 3,
 4,
 1,
 5,
 1,
 5,
 5,
 0,
 3,
 2,
 3,
 4,
 2,
 2,
 3,
 1,
 0,
 2,
 1,
 4,
 0,
 5,
 3,
 1,
 6,
 4,
 5,
 0,
 5,
 4,
 2,
 1,
 0,
 0,
 3,
 4,
 2,
 1,
 5,
 2,
 4,
 3,
 6,
 4,
 0,
 0,
 5,
 2,
 4,
 0,
 0,
 6,
 3,
 6,
 3,
 2,
 6,
 3,
 0,
 2,
 2,
 0,
 6,
 6,
 3,
 4,
 5,
 3,
 0,
 5,
 6,
 6,
 1,
 2,
 1,
 3,
 2,
 5,
 4,
 4,
 2,
 5,
 4,
 0,
 3,
 1,
 4,
 6,
 3,
 1,
 4,
 1,
 6,
 5,
 2,
 6,
 0,
 2,
 3,
 1,
 4,
 0,
 1,
 0,
 2,
 0,
 2,
 1,
 2,
 3,
 6,
 0,
 0,
 4,
 4,
 5,
 6,
 3,
 6,
 2,
 1,
 4,
 1,
 2,
 1,
 3,
 5,
 4,
 5,
 4,
 4,
 2,
 1,
 0,
 6,
 6,
 1,
 5,
 2,
 5,
 2,
 2,
 3,
 4,
 5,
 6,
 1,
 6,
 3,
 1,
 2,
 2,
 3,
 3,
 4,
 0,
 2,
 1,
 3,
 5,
 0,
 4,
 3,
 1,
 3,
 4,
 6,
 2,
 3,
 1,
 6,
 6,
 4,
 3,
 6,
 4,
 1,
 5,
 3,
 4,
 1,
 3,
 4,
 0,
 6,
 5,
 1,
 5,
 1,
 2,
 3,
 2,
 0,
 4,
 1,
 4,
 1,
 0,
 0,
 3,
 0,
 6,
 4,
 4,
 2,
 6,
 2,
 3,
 1,
 0,
 3,
 1,
 2,
 4,
 4,
 3,
 1,
 0,
 3,
 4,
 6,
 0,
 1,
 2,
 6,
 1,
 0,
 0,
 0,
 1,
 6,
 1,
 2,
 5,
 5,
 2,
 3,
 5,
 6,
 2,
 5,
 0,
 2,
 1,
 0,
 1,
 2,
 6,
 0,
 0,
 0,
 2,
 1,
 0,
 2,
 2,
 3,
 4,
 3,
 2,
 3,
 4,
 0,
 2,
 1,
 5,
 6,
 5,
 1,
 6,
 6,
 1,
 3,
 3,
 0,
 5,
 2,
 1,
 1,
 5,
 6,
 1,
 2,
 6,
 0,
 0,
 4,
 6,
 0,
 1,
 5,
 0,
 2,
 0,
 0,
 0,
 5,
 5,
 4,
 0,
 6,
 6,
 6,
 6,
 4,
 2,
 6,
 1,
 3,
 2,
 6,
 5,
 1,
 1,
 0,
 3,
 0,
 5,
 2,
 1,
 0,
 6,
 1,
 0,
 3,
 4,
 0,
 5,
 3,
 4,
 1,
 4,
 2,
 2,
 0,
 3,
 6,
 4,
 5,
 5,
 4,
 0,
 3,
 1,
 0,
 1]

In [ ]:
accuracy_score(ytest,gb_pred_output)

0.9574132492113565

In [ ]:
accuracy_score(ytest,gb_pred_output)*100

95.74132492113566